
#gConnect {
  width: 114px;
  height: 36px;
  margin: 50px auto 0;
}

#___signin_0 {
  width:114px !important;
  height:32px !important;
}

#___signin_0  button {
  width:114px !important;
  height:32px !important;
}

#___signin_0  iframe {
  width:114px !important;
  height:32px !important;
}


